.micromine {
    height: 400px;
}

.text {
    text-shadow: 1px 1px black;
    color: red;

}
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.context {
    color: white;
    margin-top: 4px;
    margin-bottom: 8px;
}

.contextbody {
    margin-bottom: 15px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}

.carousel-caption {
    display: block;
}

.softwarecard {
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.software-card-title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.software {
    text-align: center;
    margin: auto;
    text-shadow: 1px 1px black;
}

.hardware-card {
    margin-top: 15px;
    margin-bottom: 15px;
}

.hardware-carousel {
    margin-top: 15px;
    margin-bottom: 15px;
}

#hardware {
    text-align: center;
    color: white;
    text-shadow: 0.3px 0.3px  white
}

.innovation-card {
    margin: 15px 15px 15px 15px;
}

#innovations {
    text-align: center;
    color: white;
    text-shadow: 0.3px 0.3px  white

}

.innovation-card-text {
    padding-left: 25px;
    padding-right: 25px;
    /* padding-top: 30px; */
    padding-bottom: 2em;
    letter-spacing: 0.75px;

}

.innovation-card-title {
    padding: auto;

}

.background {
   padding: 0px 0px 0px 0px
}

.background-heading {
    width: 500px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    font-size: 35px;
    text-shadow: 0.3px 0.3px white;
    color: white;
}

@media (min-width: 922px) {
    .background-heading {
        font-size: 100 px;
    }

}