.micromine {
    height: 400px;
}

.text {
    text-shadow: 1px 1px black;
    color: red;

}
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.context {
    color: white;
    margin-top: 12px;
    margin-bottom: 8px;
}

.contextbody {
    margin-bottom: 15px;
    color: white;
}

.carousel-caption {
    display: block;
}

.softwarecard {
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.software-card-title {
    margin-top: 15px;
    margin-bottom: 15px;
}

#software {
    text-allign:  
}